## By default, ignore everything
*
## Do not ignore .gitignore
!/.gitignore

## Do not ignore the spec files
!/*.tla
!/*.cfg
!/**/*.pdf

## fifo directory
!/fifo/
!/fifo/*.pdf
!/fifo/*.tla
!/fifo/*.cfg
